<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Webpage</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  
</head>
<body>
    <div class="text-white bg-zinc-900 h-screen w-full p-10">
        <h1>Login your account</h1>
        <form action="/login" method="post">
            
            <input type="email" placeholder="email" name="email" class="px-3 py-2 bg-transparent border-2 border-zinc-800 outline-none">
            <input type="password" placeholder="password" name="password" class="px-3 py-2 bg-transparent border-2 border-zinc-800 outline-none">
            
            <input type="submit" value="login" class="px-4 rounded-md py-2 bg-blue-500 ">

        </form>
    </div>
    
    
  
</body>
</html>
